.card {
    max-width: 25rem;
    min-width: 10rem;
    display: flex;
    flex-wrap: row;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header h4 {
    margin: 0 1em 0 0;
}

#places-form {
    display: flex;
    justify-content: space-evenly;
}